@import "src/shared/assets/styles/vars";

.mark{
  border-radius: 16px;
  //padding: 4px 17px;
  padding-left: 17px;
  padding-right: 17px;
  height: 24px;
  font: $h6-medium;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

.btnDelete{
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  left: 8px;
  height: 14px;
  padding: 0;
  cursor: pointer;

  div {
    padding-top: 3px !important;
    line-height: 0 !important;
  }

  span {
    margin: 0 !important; 
    margin-top: -5px !important;
    font-size: 11px !important;

    i {
      width: 5px !important;
      height: 5px !important;
    }
  }
}