@import "src/shared/assets/styles/vars";

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  .title{
    font: $p-regular;
    color: $grey-700;
  }
  .btnCreateTag{
    border: none;
    outline: none;
    background-color: transparent;
    color: $grey-600;
    cursor: pointer;
    svg{
      width: 1em;
    }
    &:hover{
      color: $main-blue;
    }
  }
}

.wrap{
  padding: 5px 0;
  scrollbar-width: thin;
  scrollbar-color: rgba($main-blue, 0.5) $grey-0;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($main-blue, 0.5);
    border-radius: 8px;
    height: 20px;
  }
}
.listWrap{
  width: 300px;
  :global(.ant-list-item){
    gap: 8px;
    padding-right: 8px;
    padding-left: 8px;
    &:hover{
      background-color: rgba($main-blue, 0.05);
    }
  }
  .tagName{
    text-align: left;
    flex-grow: 1;
  }
  .btn{
    width: 24px;
    height: 24px;
    background-color: #FAFAFB;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    color: $grey-500;
    padding: 0;
    svg{
      width: 14px;
    }
    &Edit{
      &:hover{
        color: $main-blue;
      }
    }
    &Delete{
      &:hover{
        color: $error-default;
      }
    }
  }
  @keyframes enterItem {
    0% {

    }
    50%{
      background-color: rgba($main-blue, 0.10);
    }
    100%{
      background-color: transparent;
    }
  }
  :global(.item-enter-done){
    animation-name: enterItem;
    animation-duration: 2s;
    animation-iteration-count: 3;
  }
  :global(.item-enter) {
    opacity: 0;
    transform: translateX(500px);
  }
  :global(.item-enter-active) {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms ease-in;
  }
  :global(.item-exit) {
    opacity: 1;
    transform: translateX(0);
  }
  :global(.item-exit-active) {
    opacity: 0;
    transform: translateX(-500px);
    transition: all 500ms ease-in;
  }
}
