@import "src/shared/assets/styles";
@import "shared/assets/styles/mixins";

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  .name {
    color: $grey-900;
    font: $h5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
    @include media-breakpoint-down(xl) {
      max-width: 480px;
    }
    @include media-breakpoint-down(md) {
      max-width: 316px;
    }
    @include media-breakpoint-down(xs) {
      max-width: 218px;
    }
  }

  .indicators {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: $grey-600;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    .attachments {
      display: flex;
      align-items: center;
      margin-right: 24px;
      svg{
        transform: rotate(180deg);
        margin: 5px;
      }
    }

    .checkList {
      display: flex;
      align-items: center;
      svg{
        margin: 5px;
      }
    }
  }
}