@import 'src/shared/assets/styles/vars';

.tasks_group {
  border: 1px solid #dcdce0;
  border-radius: 16px;
  padding: 16px 8px;
  background-color: $grey-100;
  position: relative;
  :global(.ant-collapse-header){
    position: absolute !important;
    left: 15px;
    top: 8px;
    width: calc(100% - 300px);
    transition: .5s ease;
    &[aria-expanded="false"]:hover{
      transform: translateX(-5px);
    }
    &[aria-expanded="true"]:hover{
      transform: translateY(2px);
    }
    @media screen and (max-width: 768px){
      width: calc(100% - 70px);
      top: 5px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin-left: 40px;
  font: $h4-medium;
  color: $grey-600;
  margin-bottom: 0;
}

.noTasks {
  margin-left: 16px;
  margin-top: 10px;
  font: $h4;
  color: $grey-600;
}

.sort {
  margin-right: 16px;
  height: auto;
  position: relative;
  top: 3px;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .createTask {
    margin-right: 16px;
  }

  .pagination {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.totalCount {
  margin-left: 5px;
  margin-right: 5px;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
