@import 'src/shared/assets/styles';

.resetFilters {
  height: 36px !important;
  border: 1px solid $grey-400 !important;
  border-radius: 8px !important;

  .text {
    font: $p-regular;
    color: $grey-700;
  }
}
