@import "src/shared/assets/styles/vars";

.header {
  display: flex;
  justify-content: space-between;

  .title {
    margin-left: 16px;
    font: $h4;
    color: $grey-600;

    .totalCount {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .sort {
    height: auto;
  }
}

.tasks_group {
  border: 1px solid #DCDCE0;
  border-radius: 16px;
  padding: 16px 8px;
  background-color: $grey-100;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .createTask {
    margin-right: 16px;
  }

  .pagination {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.totalCount {
  margin-left: 5px;
  margin-right: 5px;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}