@import 'shared/assets/styles/mixins';

.cardCompletedTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  @include media-breakpoint-down(xl) {
    align-items: flex-start;
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > * {
    @include media-breakpoint-down(xl) {
      margin: 5px 0;
    }
  }
  @include media-breakpoint-down(xl) {
    display: block;
  }
}
