@import 'src/shared/assets/styles';

.modalDelete {
  :global(.ant-modal-content) {
    border-radius: 16px !important;
  }
  :global(.ant-modal-body) {
    padding: 0;
  }
  .title {
    font: $h4;
    padding: 16px 0 8px 24px;
  }
  .text {
    font: $p-regular;
    color: $grey-800;
    padding: 24px;
  }
  .wrapperButtons {
    display: flex;
    justify-content: space-between;
    max-width: 316px;
    padding: 0 24px 32px;
    .deleteBtn {
      background-color: $colors-red;
      border-radius: 8px;
      border: none;
      color: $grey-0;
      &:hover {
        opacity: 0.9;
      }
    }
    .cancelBtn {
      border-radius: 8px;
    }
  }
}
