@import 'shared/assets/styles';

.dropdownButton > button {
  color: $grey-500;
  border: none;
  outline: none;
  box-shadow: none;
}

.dropdownMenu {
  font: $p-regular;
  .delete {
    color: $colors-red;
    border-top: 1px solid $grey-400;
  }
}
