@import "src/shared/assets/styles";

.contributorsSelectWrap {
  display: flex;
  flex-direction: column;

  .contributorsSelect {
    width: 100%;

    :global(.ant-select-selection-search){
      margin-left: 7px !important;
    }
    :global(.ant-select-selection-placeholder){
      left: 16px !important;
    }

    :global(.ant-select-selector) {
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-bottom: 1px solid $grey-300 !important;
      border-radius: 0 !important;
    }

    :global(.ant-select-selection-overflow) {
      flex-wrap: nowrap;

      .suffix{
        width: 15px;
        height: 100%;
      }

      :global(.ant-select-selection-overflow-item-rest) {
        order: 9;
        :global(.ant-select-selection-item) {
          background-color: transparent;
          border-color: transparent;
          padding-left: 0;

          .placeholder {
            color: $grey-500;
          }

          .hide {
            display: none;
          }
        }
      }
    }
  }
}


.contributorsSelectDropdown {
  :global(.ant-select-item-option-selected) {
    min-height: 0 !important;
    height: 0 !important;
    padding: 0 !important;

    & * {
      display: none;
    }
  }
}

.notFoundPlaceholder {
  display: flex;
  justify-content: center;
  cursor: default;
}

.selectedList {
  display: flex;
  flex-direction: column;

  .selectedItem {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-bottom: 1px solid $grey-200;
    transition: 0.3s;

    &:hover{
      background-color: $grey-200;
    }

    .avatar {
      flex-shrink: 0;
    }

    .name {
      color: $grey-700;
      flex-grow: 1;
      cursor: default;
    }

    .deselect {
      border: none;
      background-color: transparent;
      color: $grey-500;
      cursor: pointer;
      transition: color 0.5s;
      &:hover{
        color: #40a9ff;
      }
    }
  }
}
