@import "src/shared/assets/styles";

:global(.ant-select-item){
  min-height: 34px !important;
}

.selectedTags{
  width: 200px;
  padding-top: 8px;
  span{
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.autoCompleteWrap{
  position: relative;
  margin-bottom: 14px;
  :global(.ant-select){
    width: 100%;
    :global(.ant-select-selector){
      &::before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 25px;
        height: 15px;
        background-image: url(/shared/ui/icons/PlusSquaredIcon/PlusSquaredIcon.svg);
        background-repeat: no-repeat;
      }
    }
  }
  :global(.ant-select-focused *){
    box-shadow: none !important;
  }
  :global(.ant-select:not(.ant-select-customize-input) .ant-select-selector){
    border: none;
    border-bottom: 1px solid $grey-300;
  }
}
