@import 'src/shared/assets/styles';

.category {
  margin-bottom: 10px;
  padding-left: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @include media-breakpoint-down(xxl) {
    flex-direction: column;
    justify-content: flex-start;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: row;
    justify-content: space-between;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.titleDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  min-width: 120px;
  margin: 0;
  padding: 0;
  .title {
    margin: 7px 0;
    font: $p-regular;
    color: $grey-900;
  }
  .icon {
    font-size: 15px;
    text-align: center;
    color: $grey-600;
    &:hover {
      color: $main-blue-hover;
    }
  }
}

.labels {
  font: $p-regular;
  color: $grey-700;
  width: 100%;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 0;
}

.dropdownButton {
  width: 20px !important;
  height: 20px !important;
  margin-bottom: 2px !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border: none !important;
}

.modalResume {
  height: 400px !important;
  .innerModal {
    font: $p-regular;
    color: $grey-800;
    padding: 20px;
    &_title {
      text-align: center;
      margin: 30px 0;
    }
    &_subtitle {
      margin: 15px 0;
    }
    .select {
      width: 100% !important;
      border-radius: 8px !important;
      :global(.ant-select-selector) {
        border-radius: 8px;
      }
    }
    .textArea {
      border-radius: 8px;
    }
    .saveBtn {
      padding: 0 !important;
    }
  }
}
