@import "src/shared/assets/styles";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 32px;

    .itemTitleText {
      color: $grey-700;
      font: $p-regular;
    }
  }
}