@import "src/shared/assets/styles";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  & > * {
    width: 100%;
    margin: 16px 0;
  }

  .labelText {
    color: $grey-700;
    font: $h6-bold;
    margin-bottom: 10px;
  }


}