@import "src/shared/assets/styles";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  & > * {
    width: 100%;
    margin: 16px 0;
  }

  & > * > *:not(:first-child) {
    margin: 0 8px;
  }

  .labelText {
    color: $grey-700;
    font: $h6-bold;
    margin-bottom: 10px;
  }
  .tags{
    display: flex;
    justify-content: space-between;
    .tagsEditor{
      font-size: 16px;
    }
  }
}