@import "src/shared/assets/styles";

.menuContainer {
    width: 350px;
    border-radius: 16px;
    box-shadow: 0px 8px 40px rgba(23, 31, 70, 0.08);
}

.searchWrapper {
    height: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
    background: $grey-100;
    border-radius: 16px 16px 0 0;
    border-bottom: 1px solid $grey-300;

    & > input {
        padding: 0;
        font: $p-regular;
        color: $grey-600;
        border: none;
        background: inherit;
    }
    
    & > input:focus {
        outline: 0;
        outline-offset: 0;
        box-shadow: none;
    }
}

.menu {
    max-height: 280px;
    padding-bottom: 20px !important;
    overflow: auto;
    border-radius: 0 0 16px 16px;

    scrollbar-width: thin;
    scrollbar-color: rgba($main-blue, 0.5) $grey-0;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: inherit;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($main-blue, 0.5);
    }

    & > li {
        width: 100%;
        margin: 0 !important;
        padding-left: 26px !important;
        height: 52px !important;
    
        & > span > span { // block with (avatar + name) + arrow
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        & > span > span > div { // block with avatar + name
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            & > div { // avatar
                width: 24px;
                height: 24px;
            }

            & > div::before {
                font-size: 12px;
            }
        }
    }
    
    & > li:first-child {
        margin-top: 14px !important;
    }

    & > li > span > span {
        width: 100% !important;
        height: 52px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    & > li > span > span > svg {
        opacity: 0;
        fill: $main-blue;
    }

    & > li > span > span > div > span {
        font: $p-medium;
        color: $grey-900;
    }
    
    & > li:hover {
        background: rgba($main-blue, 0.05);
        color: $grey-900 !important;
    }

    & > li:global(.ant-menu-item-selected) {
        background-color: rgba($main-blue, 0.05) !important;
        color: $grey-900 !important;

        & > span > span > svg {
            opacity: 1;
        }
    }
}

.popup {
    z-index: 1700 !important;

    & > div {
        margin: 0 12px;
        border-radius: 16px;

        & > div:first-child {
            display: none;
        }

        & > div:last-child { // tooltip container
            border-radius: 16px;
            box-shadow: 0px 8px 40px rgba(23, 31, 70, 0.08);
        }

        & > div:last-child > div:first-child { // tooltip title
            height: 48px;
            padding: 16px;
            padding-bottom: 12px;
            font: $p-regular;
            color: $grey-700;
            border-bottom: 1px solid $grey-200;
        }

        & > div:last-child > div:last-child { // tooltip container of checkboxes
            padding: 0;
        }
    }
}

.popupCheckboxes {
    width: 210px;
    padding: 11px 0 20px 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > label {
        height: 19px;
        margin: 10px 0 !important;

        & > span:last-child {
            padding-left: 10px;
            font: $p-medium;
            color: $grey-800;
        }
    }
}

ul.menu li.lastElement {
    height: 0 !important;
    width: 0 !important;
}

.spin {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addMemberButton {
    margin: 25px 0;
    padding: 0;
    padding-left: 30px;

    border: none;
    background-color: inherit;
    cursor: pointer;
}

.addMemberButton > span {
    font: $h6-medium;
    color: $main-blue;
    text-transform: uppercase;
}

.addMemberButton:hover > span {
    color: $main-blue-hover;
}

.performerChooseBtn {
    margin: 0;
    margin-top: 3px;
    padding: 0;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.performerChooseBtn > span {
    font: $p-regular;
    line-height: 24px;
    color: $grey-700;
    border-bottom: 1px solid $grey-700;
}

.performerChooseBtn:hover > span {
    color: $grey-900;
    border-bottom-color: $grey-900;
}

.notMembers {
    display: block;
    width: 100%;
    font: $p-medium;
    text-align: center;
    color: $grey-600;
}