@import "src/shared/assets/styles/vars";

.users {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.users > * {
  flex-grow: 0;
  flex-shrink: 0;
}

.others {
  border-radius: 50%;
  border: 1px solid $grey-300;
  color: $grey-700;
  display: flex;
  font: $p-regular;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    border-color: $main-blue-hover;
    color: $main-blue-hover;
  }
}

.usersPopoverContent {
  display: flex;
  flex-direction: column;

  &>*:not(:first-child){
    margin-top: 5px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .role {
      font: $p-medium;
    }

    .name {
      font: $p-regular;
    }

    & > *:not(:first-child) {
      margin-left: 5px;
    }
  }
}