@import "src/shared/assets/styles/vars";

.title{
  font: $h2;
  color: $grey-900;
  overflow-wrap: break-word;
  padding: 0 60px 0 0;
  width: 100%;
}
.btnEdit{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  bottom: -5px;
  margin-left: 4px;
}

.textarea{
  font: $h2;
  color: $grey-900;
  border: 0;
  width: 100%;
  resize: none;
  height: auto;
  outline: none;
  border: none;
  margin: 0;
  padding: 0 60px 0 0;
  border-bottom: 1px solid $main-blue;
  &:focus{
    outline: none;
    border-bottom: 1px solid $main-blue;
  }
}

.formEdit{
  position: relative;
}

.ellipsis{
  background-color: transparent;
  border: none;
  outline: none;
  text-align: left;
  word-break: break-all;
}

.btnGroup{
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 0;
  color: $grey-600;
  button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.hidden{
  display: none;
}

.visible{
  display: block;
  width: 100%;
}