@import "src/shared/assets/styles";

.container {
    min-height: 80px;
    background: $grey-0;
    border-radius: 8px;
    box-shadow: 0px 8px 40px rgba(23, 31, 70, 0.08);
}

.body {
    font: $alert-title;
    color: $grey-700;
}

.progress {
    top: 0;
    background: gold;
}