@import "src/shared/assets/styles";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tags {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px; 
}

.tags > span:last-child {
    margin-bottom: 10px;
}

.addButton {
    font: $p-medium;
    color: $main-blue;
    border: none;
    background: inherit;
    cursor: pointer;
}

.addButton:hover {
    color: $main-blue-hover;
}

.menu {
    max-height: 280px;
    padding: 8px 0 !important;
    overflow: auto;
    border-radius: 16px !important;
    box-shadow: 0px 8px 40px rgba(23, 31, 70, 0.08) !important;

    &::-webkit-scrollbar {
        height: 12px;
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        margin: 12px 0 28px 0;
        background: inherit;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $grey-100;
        border-radius: 2px;
    }

    & > li {
        padding: 8px 25px;
    }

    & > li:hover {
        background: rgba($main-blue, 0.05) !important;
    }
}