//colors
$main-blue: #0062FF;
$main-blue-hover: #005BEE;
$colors-yellow: #FFC542;
$colors-blue: #50B5FF;
$colors-orange: #FF974A;
$colors-red: #FC5A5A;
$colors-salad: #82C43C;
$colors-purple: #A461D8;
$colors-pink: #FF9AD5;
$success-default: #3DD598;
$warning-default: #FFB800;
$error-default: #FF0B37;

$grey-900: #171725;
$grey-800: #44444F;
$grey-700: #696974;
$grey-600: #92929D;
$grey-500: #B5B5BE;
$grey-400: #D5D5DC;
$grey-300: #E2E2EA;
$grey-200: #F1F1F5;
$grey-100: #FAFAFB;
$grey-0: #FFFFFF;


//fonts
$h1: 700 32px/40px Inter, sans-serif;
$h2: 500 24px/32px Inter, sans-serif;
$h3: 400 20px/32px Inter, sans-serif;
$h4: 700 18px/24px Inter, sans-serif;
$h5: 500 16px/24px Inter, sans-serif;
$h6-bold: 700 12px/16px Inter, sans-serif;
$h6-medium: 500 12px/16px Inter, sans-serif;
$p-regular: 400 14px/20px Inter, sans-serif; 
$p-medium: 600 14px/24px Inter, sans-serif; 
