//colors
$main-blue: #0062FF;
$colors-yellow: #FFC542;
$colors-blue: #50B5FF;
$success-default: #3DD598;
$colors-orange: #FF974A;
$colors-red: #FC5A5A;
$colors-salad: #82C43C;
$colors-purple: #A461D8;
$colors-pink: #FF9AD5;

$grey-900: #171725;
$grey-800: #44444F;
$grey-700: #696974;
$grey-600: #92929D;
$grey-500: #B5B5BE;
$grey-400: #D5D5DC;
$grey-300: #E2E2EA;
$grey-200: #F1F1F5;
$grey-100: #FAFAFB;
$grey-0: #FFFFFF;


//fonts
$h1: 700 32px/40px Inter, sans-serif;
