@import "src/shared/assets/styles";


.attachments {
  display: flex;
  align-items: center;

  color: $grey-600;
  font: $p-roboto-regular;

  svg {
    transform: rotate(180deg);
    margin: 5px;
  }
}