@import "src/shared/assets/styles";

.historyWrapper {
    width: 100%;
}

.header {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    & > svg {
        width: 24px;
        height: 24px;
    }

    & > h5 {
        margin: 0;
        font: $h5;
        color: $grey-900;
    }
}

.historyList {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 22px;
    list-style-type: none;
}