@import "src/shared/assets/styles/vars";


.dropdownMenu{
  color: $grey-500;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 8px !important;
  .dropdownIcon {
    font-size: 24px;
  }

}
.dropdownButton{
  font: $p-regular;
  border-radius: 8px !important;
  :global(.ant-btn:first-child){
    display: none;
  }

  :global(.ant-btn){
    border: none !important;
    box-shadow: none !important;
    color: $grey-600;
    &:hover{
      color: $main-blue-hover;
    }
    &:focus{
      color: $main-blue-hover;
    }
  }
}