@import 'src/shared/assets/styles';

.wrap {
  display: grid;
  grid-template-areas: "title status progress tags users menu"
                       "filesAndCheckbox status progress tags users menu";
  grid-template-columns: 20% min-content 200px auto 120px 40px;
  grid-template-rows: auto auto;
  background: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 8px;
  padding: 15px 25px;
  width: 100%;
  row-gap: 10px;
  column-gap: 20px;

  transition: all 0.3s;

  &:hover {
    background: $grey-200 !important;

    .cardMenu {
      opacity: 1;
    }
  }

  @media (max-width: 1350px) {
    grid-template-columns: 20% min-content 140px auto 80px 40px;
  }

  @media (max-width: 1260px) {
    grid-template-columns: 110px 170px auto 40px;
    grid-template-areas:  "title title title menu"
                          "status progress progress menu"
                          "tags tags tags menu"
                          "users users filesAndCheckbox filesAndCheckbox";
    column-gap: 20px;
    row-gap: 10px;
    .cardStatus {
      margin: 10px 0;
    }
  }

  @media (max-width: 780px) {
    grid-template-columns: 80% auto 40px;
    grid-template-areas:  "title . menu"
                          "status status menu"
                          "date date menu"
                          "priority priority menu"
                          "progress progress menu"
                          "tags tags menu"
                          "users users menu"
                          "filesAndCheckbox filesAndCheckbox filesAndCheckbox";
    column-gap: 10px;
    .cardFilesAndCheckbox {
      justify-self: flex-end;
    }
    .cardStatus {
      margin: 0;
    }
  }
}

.cardName {
  grid-area: title;
}

.cardFilesAndCheckbox {
  grid-area: filesAndCheckbox;
  display: flex;
  flex-direction: row;
  justify-self: flex-start;

  & > *:not(:first-child) {
    margin-left: 16px;
  }
}

.cardStatus {
  grid-area: status;
  align-self: center;
}

.cardTagsGroup {
  grid-area: tags;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.cardProgress {
  grid-area: progress;
  align-self: center;
  max-width: 200px;
}

.cardUsers {
  grid-area: users;
  max-width: 125px;
}

.cardMenu {
  grid-area: menu;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
  @include media-breakpoint-down(lg) {
    opacity: 1;
  }

  * {
    padding: 0 !important;
  }
}
